<header>
  <img
    src="{{URL}}/resources/assets/img/treadja_logo.svg"
    alt="Logo de Treadja"
    height="32px"
  />
  <nav>
    <a href="{{URL}}/">Início</a> | <a href="{{URL}}/sobre">Sobre</a> |
    <a href="{{URL}}/contato">Contato</a>
  </nav>
  <i class="bi bi-person-fill settings"></i>
  <ul class="popup">
    <li><a href="{{URL}}/perfil">Perfil</a></li>
    <li class="theme-toggle">
      Tema
      <button class="theme-switch" id="theme-switch">
        <i class="bi bi-moon-fill"></i>
        <i class="bi bi-sun-fill"></i>
      </button>
    </li>
    <li><a href="{{URL}}/sair">Sair</a></li>
  </ul>
</header>
