<div class="profilehead">
  <div class="profileinfos">
    <h2 class="name">Eric Nogueira Silva</h2>
    <h3 class="id">#103.657.415-66</h3>
  </div>
</div>
<div class="vaga-detail-body">
  <h4>RG: 22.919.326-91</h4>
  <h4>Email: enougs123gbi@gmail.com</h4>
  <h4>Telefone: 77 98822-8159</h4>
  <h4>Data de nascimento: 13/11/2008</h4>
  <h4>Endereço: Rua Alípio Fernandes da Cunha, Nº 107, Bairro Monte Azul, Guanambi-BA</h4>
  <h4>Escolaridade:</h4>
  <p>Técnico em Informática para internet - IF Baiano Campus Guanambi</p>
{{mensagem}}
  <form method="post">
    <button type="submit" name="candidatar" value="candidatar">Contratar</button>
  </form>