<h1>Vagas</h1>
<hr>

<section id="form">
    <form method="post">
        <h3>Inserir vaga</h3>
        Título<input type="text" name="titulo" placeholder="Título da vaga" required>
        Descrição<textarea name="descricao" placeholder="Descrição da vaga" required></textarea>
        CNPJ da empresa<input type="text" name="CNPJempresa" placeholder="CNPJ da empresa" required>
        Requisitos<textarea name="requisitos" placeholder="Requisitos da vaga" required></textarea>
        Jornada de trabalho<input type="time" name="jornadaTrabalho" required>
        <button type="submit">Buscar</button>
    </form>
</section>

